@font-face {
  font-family: "iconfont"; /* Project id 4793391 */
  src: url('iconfont.woff2?t=1735115141141') format('woff2'),
       url('iconfont.woff?t=1735115141141') format('woff'),
       url('iconfont.ttf?t=1735115141141') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e63d";
}

.icon-dinner:before {
  content: "\e68c";
}

.icon-_zhongcan:before {
  content: "\e823";
}

.icon-youbian:before {
  content: "\e79a";
}

.icon-tianjia:before {
  content: "\e607";
}

.icon-youyong:before {
  content: "\e615";
}

.icon-zuqiu:before {
  content: "\e605";
}

.icon-gangling:before {
  content: "\e609";
}

.icon-lanqiu:before {
  content: "\e60a";
}

.icon-pingpangqiu:before {
  content: "\e60b";
}

.icon-yumaoqiu:before {
  content: "\e612";
}

.icon-zihangche:before {
  content: "\e6e1";
}

.icon-paobuxuanzhong:before {
  content: "\e74a";
}

.icon-wushu:before {
  content: "\e601";
}

.icon-437:before {
  content: "\e769";
}

.icon-paobu:before {
  content: "\e60c";
}

.icon-xinxianguoshu_meiweizaocanjidan:before {
  content: "\e61b";
}

.icon-shouye:before {
  content: "\e614";
}

.icon-shouye1:before {
  content: "\e617";
}

.icon-shouye2:before {
  content: "\e621";
}

.icon-shouye3:before {
  content: "\e628";
}

.icon-shouye4:before {
  content: "\e62a";
}

.icon-shouye5:before {
  content: "\e62e";
}

.icon-shouye6:before {
  content: "\e636";
}

.icon-shouye7:before {
  content: "\e637";
}

.icon-icon:before {
  content: "\e64f";
}

.icon-icon1:before {
  content: "\e659";
}

.icon-icon2:before {
  content: "\e65f";
}

.icon-icon3:before {
  content: "\e66a";
}

.icon-icon4:before {
  content: "\e66e";
}

.icon-icon5:before {
  content: "\e68b";
}

.icon-icon6:before {
  content: "\e68d";
}

.icon-icon7:before {
  content: "\e696";
}

.icon-icon8:before {
  content: "\e698";
}

.icon-icon9:before {
  content: "\e699";
}

.icon-icon10:before {
  content: "\e6a0";
}

